* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
}

.container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

button {
    cursor: pointer;
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    @apply fixed px-5 top-0 left-0 right-0 bottom-0 z-10;
}

.active-link {
    @apply text-deep-orange;
}